@import url(base_generic.css);
@import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);
:root {
    --action_live-text-main: #333333;
    --action_live-text-sub: #606060;
    --action_live-text-third: #4D4D4D;
    --action_live-text-fourth: #707070;
    --action_live-text-fifth: #666666;
    --action_live-text-sixth: #999999;
    --clicked: #FE7926;
    --div-bg: #F2F2F2;
    --chatting-input-bg: #B3B3B3;
}

.contents {}

.streaming_and_chatting {
    flex: 0 0 66.3%;
}


/* streaming */

.streaming {}

.streaming__item {}

.streaming__item__img {
    width: 100%;
}

.streaming__info {}

.streaming__info__icon {
    width: 73px;
}

.streaming__header {}

.streaming__header__title {
    font-size: 20px;
    font-weight: bold;
    color: var(--action_live-text-main);
}

.streaming__header__gap {
    width: 2px;
    height: 16px;
    background-color: var(--action_live-text-main);
}

.streaming__header__league {
    font-size: 20px;
    font-weight: bold;
    color: var(--action_live-text-main);
}

.streaming__info__sub {
    font-size: 14px;
    color: var(--action_live-text-sub);
}

.streaming__info__sub__today {}

.streaming__info__sub__gap {
    width: 1px;
    height: 12px;
    background-color: var(--action_live-text-sub);
}

.streaming__info__sub__stadium {}

.streaming__info__sub__start {}

.streaming__etc {}

.streaming__etc__views {
    font-size: 14px;
    vertical-align: middle;
    color: var(--clicked);
}

.streaming__etc__views__img {
    width: 18px;
}

.streaming__etc__views__text {}

.streaming__etc__time {
    vertical-align: middle;
    font-size: 14px;
}

.streaming__bottom {
    color: var(--action_live-text-fourth);
}

.streaming__bottom__img {
    width: 20px;
}

.streaming__bottom__like {
    vertical-align: middle;
}

.streaming__bottom__like__text {
    font-size: 12px;
}

.streaming__bottom__share {
    vertical-align: middle;
}

.streaming__bottom__share__text {
    font-size: 12px;
}

.streaming__bottom__add_to_playlist {
    vertical-align: middle;
}

.streaming__bottom__add_to_playlist__text {
    font-size: 12px;
}


/* chatting */

.chatting {
    background-color: var(--div-bg);
    margin-top: 30px;
}

.contents__header {
    height: 47px !important;
    line-height: 47px !important;
}

.contents__header__circle {
    vertical-align: baseline;
    width: 12px;
}

.contents__header__title {
    font-size: 16px;
    color: var(--action_live-text-main);
}

.chatting__contents {
    position: relative;
    background-color: var(--white);
}

.chatting__list {
    width: 90%;
}

.chatting__item {}

.chatting__item__header {
    vertical-align: top;
}

.chatting__user__icon {
    width: 40px;
}

.chatting__user__id {
    font-size: 12px;
    color: var(--action_live-text-sub);
    /* vertical-align: top; */
    /* margin-top: 14px; */
}

.chatting__item__box {}

.chatting__user__text {
    font-size: 13px;
    color: var(--action_live-text-third);
    background-color: #E6E2FD;
    border-radius: 15px;
}

.chatting__user__text:first-child {
    border-radius: 0 15px 15px 15px;
}

.my__chatting__item {
    /* float: right; */
    text-align: right;
}

.my__chatting__item__box {}

.my__chatting__user__text {
    font-size: 14px;
    background-color: #333FFA;
    border-radius: 15px;
    color: white;
}

.my__chatting__user__text:first-child {
    border-radius: 15px 0 15px 15px;
}

.my__chatting__item__header {
    vertical-align: top;
}

.my__chatting__user__id {
    font-size: 14px;
    color: var(--action_live-text-sub);
    vertical-align: top;
    margin-top: 14px;
}

.chatting__input {
    border-radius: 10px !important;
}

.chatting__input__container {
    width: 90%;
    background-color: #E6E6E6;
    border-radius: 18px !important;
    vertical-align: middle;
}

.chatting__input__text {
    font-size: 14px;
    background-color: #E6E6E6;
    border: none !important;
    border-radius: 18px !important;
}

.chatting__input__text.emoji-wysiwyg-editor {
    height: 45px !important;
    padding: 15px 15px;
    overflow: hidden;
}

.emoji-picker-icon {
    top: 10px !important;
    font-size: 26px !important;
}

.chatting__input__registration {}

.chatting__input__registration__img {
    width: 40px;
    cursor: pointer;
}

.login__modal__container {
    position: absolute;
    transition: all 0.3s linear;
    padding-right: 0;
}

.login__modal__container.show+.login__modal__backdrop {
    display: block;
    z-index: 100;
    opacity: 0.5 !important;
    visibility: visible;
    transition: all 0.3s linear;
}

.login__modal__box {
    width: fit-content;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%) !important;
}

.login__modal__contents {
    width: 180px;
    height: 84px;
}

.login__modal__text {
    text-align: center;
    font-size: 12px;
}

.login__modal__btns {
    border-top: none;
}

.login__modal__yes,
.login__modal__no {
    min-width: 54px;
    padding: 0;
    font-size: 10px;
    color: var(--white)
}

.login__modal__no {
    background-color: #B3B3B3;
}

.modal-backdrop:not(.login__modal__backdrop) {
    display: none !important;
}

.login__modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* display: none; */
    visibility: hidden;
    transition: all 0.3s linear;
}

.modal-backdrop.show {
    display: block;
    z-index: 100;
    opacity: 0.5 !important;
}

.modal-open {
    padding-right: 0px !important;
    overflow: auto;
}


/* information_contents */

.side {
    flex: 0 0 31.3%;
}


/* controls */

.controls {
    /* height: 100%; */
}

.controls__item {
    flex: 0 0 26%;
    max-width: 26%;
    /* height: 100px; */
    border: 2px solid #E5E5E5;
    cursor: pointer;
}

.controls__item.active {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}

.controls__item:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.37) !important;
}

.controls__effects {}

.controls__img {
    width: 40%;
    margin: 1rem auto 0rem;
}

.controls__text {
    margin: 0.7rem auto 0.5rem;
    font-size: 14px;
    color: var(--action_live-text-third);
}

.controls__prediction {}

.prediction__img {}

.prediction__text {}

.controls__player_info {}

.player__info__img {}

.player__info__text {}


/* side */

.side__controls {}

.side__item {
    background-color: var(--div-bg);
    margin-top: 30px !important;
}


/* setting */

.setting {
    display: none;
}

.setting.active {
    display: block;
}

.player_info .setting__header {
    position: relative;
    max-height: 56px;
}

.setting__header__circle {}

.setting__title {}

.setting__btn__example {
    width: 50px;
}

.setting__alert {
    width: 20px;
    margin-top: 0.8rem;
    cursor: pointer;
}

.setting__alert:hover+.setting__description {
    /* visibility: visible; */
    display: block;
}

.setting__description {
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 3;
    width: 200px;
    /* visibility: hidden; */
    display: none;
}

.setting__contents {
    /* max-height: 217px; */
    /* background: var(--white); */
}

.setting__list {
    min-height: 217px;
    max-height: 217px;
    background: var(--white);
}

.setting__list__left {}

.setting__list__right {}

.setting__item {}

.setting__item__header {
    /* width: 90%; */
    line-height: 1.2;
}

.setting__item__label {
    font-size: 14px;
    color: var(--action_live-text-fifth);
    vertical-align: top;
}

.prediction .setting__item__label {
    font-size: 11px;
}

.prediction .custom__btn__label {
    font-size: 14px;
}

.custom__description {
    font-size: 8px;
    color: var(--chatting-input-bg);
}

.setting__list__title {
    font-size: 14px;
    color: var(--action_live-text-fifth);
}

.setting__item__btn {
    position: relative;
    width: 50px;
    height: 25px;
    appearance: none;
    background: var(--action_live-text-sixth);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.prediction .setting__item__btn {
    width: 35px;
    height: 18px;
}

.prediction .custom__btn {
    position: relative;
    width: 50px;
    height: 25px;
    appearance: none;
    background: var(--action_live-text-sixth);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.effects .setting__item__btn:checked {
    background: var(--clicked);
}

.prediction .setting__item__btn:checked {
    background: #333FFA;
}

.player_info .setting__item__btn:checked {
    background: #E6E2FD;
}

.setting__item__btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.prediction .setting__item__btn::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.prediction .custom__btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.setting__item__btn:checked::before {
    left: 27px;
}

.prediction .setting__item__btn:checked::before {
    left: 18px;
}

.prediction .custom__btn:checked::before {
    left: 27px;
}


/* real_time_player */

.player {}

.player__header {}

.player__item {
    width: 100%;
    height: 44.7px;
    background: white;
    position: relative;
}

.player__item__img {
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 80px;
}

.player__item__name {
    position: absolute;
    top: 7px;
    left: 120px;
    line-height: 1;
}

.player__item__name__kor {
    display: block;
    color: var(--action_live-text-third);
}

.player__item__name__eng {
    font-size: 10px;
    color: var(--action_live-text-sixth);
}

.player__item__team {
    position: absolute;
    top: 8px;
    right: 30px;
}

.player__item__team__title {
    font-size: 12px;
    color: var(--action_live-text-fifth);
}

.player__item__team__img {
    width: 35px;
}


/* stats */

.stats {
    position: relative;
    height: 353px;
    background-image: url("/static/images/action_live/sec5_08.png");
    overflow: hidden;
}

.stats__bg {
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    /* display: none; */
}

.stats__header {}

.stats__contents {
    position: relative;
    width: 95%;
    /* height: 300px; */
    height: 85%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto;
}


/* .stats__contents::after {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    z-index: 3;
    content: '';
    background-image: url("/static/images/action_live/sec5_09.png");
    background-size: contain;
} */

.stats__contents::-webkit-scrollbar {
    width: 10px;
}

.stats__contents::-webkit-scrollbar-track {
    margin-bottom: 20px;
}

.stats__contents::-webkit-scrollbar-thumb {
    background-color: var(--action_live-text-sixth);
    border-radius: 10px;
}

.stats__player__img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80%;
    z-index: 2;
}

.stats__back__logo__img {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 50%;
    z-index: 1;
}

.stats__btns {}

.stats__btns__share__img {
    width: 40px;
}

.stats__btns__bookmark__img {
    width: 40px;
}

.stats__info {
    position: absolute;
    left: 65%;
    top: 70px;
    z-index: 2;
}

.stats__info__logo__img {
    width: 50px;
}

.stats__info__name {
    font-size: 30px;
    font-weight: bold;
    color: var(--action_live-text-third);
}

.stats__info__position {}

.stats__info__position__number__img {
    width: 40px;
}

.stats__info__position__box {
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}

.stats__info__position__box__defence {}

.stats__info__position__box__attack {}

.stats__record {
    width: 90%;
    position: relative;
    top: 300px;
    z-index: 3;
}

.stats__record__header {}

.stats__record__header__season {
    background-color: #333FFA;
    color: var(--white);
    border-radius: 8px;
}

.stats__record__header__title {
    font-weight: bold;
    color: var(--action_live-text-third);
}

.stats__record__list {
    width: 85%;
    gap: 18px 29px;
}

.stats__record__item {
    color: var(--action_live-text-third);
    background-color: var(--white);
    flex: 0 0 24%;
    max-width: 24%;
    border: 1px solid #E5E5E5;
    border-radius: 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.39);
}

.stats__record__item__title {
    font-size: 13px;
    text-align: left;
    /* font-weight: bold; */
}

.stats__record__item__point {
    text-align: right;
    font-family: 'Agency FB Bold', arial;
    font-size: 22px;
    /* font-weight: bold; */
}

.stats__images {
    width: 85%;
    position: relative;
    top: 330px;
    margin-top: 29px;
    gap: 9px 0;
}

.stats__images__item:nth-child(n) {
    flex: 0 0 31%;
    max-width: 31%;
}

.stats__images__item:first-child {
    flex: 0 0 40%;
    max-width: 40%;
}

.stats__images__item:nth-child(2) {
    flex: 0 0 57%;
    max-width: 57%;
    text-align: right;
}

.stats__scroll {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: relative;
    /* left: 50%; */
    /* bottom: 20px; */
    /* margin: 0 auto; */
    top: 80%;
    z-index: 10;
    /* text-align: center; */
}

.stats__scroll__btn {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 20px;
    cursor: pointer;
    color: black;
}